body {
font-size:16px;
color: #fff;
background-color: white;
font-family: 'Oxygen', sans-serif;
	

}
.navbar-toggler{
	
	background: url('download.png');
	color: white;
	width: 3em;
	height: 2em;
	border :1px solid gold;
	float: right;
}

.navbar-custom{
	background-color: #660036;
	border-radius: 0;
	border:0;
}
	


#logo-img {
	background: url('brand.png');
	width: 200px;
	height: 200px;
	margin: 0px 15px 10px 0;
}
.smallpic {
	width: 3em;
	height: 3em;
}
.navbar-brand {
	padding-top:35px;
}
.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #FFD700;
	font-size:2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0.7em;
	margin-bottom: 0;
	line-height: 1;


}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration:none;
}
.navbar-brand p {
	color: #000 ;
	text-transform:capitalize;
	font-size: .7em;
	margin-top: 10px;
	color: #FFD700;
}
.navbar-brand p span {
	vertical-align: middle;
}