body {
font-size:16px;
color: #fff;
background-color:  #ffffff ;
font-family: 'Oxygen', sans-serif;
}

.navbar-toggler{
	
	width: 3em;
	height: 2em;
	border :1px solid #ffffff;
	float: right;
}

.navbar-custom{
	background-color: #660036;
	border-radius: 0;
	border:0;
}

#logo-img{
	background: url('brand1.png');
	width: 200px;
	height: 200px;
	margin: -30px 15px 10px 0;
}
.smallpic {
	width: 3em;
	height: 3em;
}
.navbar-brand {
	padding-top:35px;
}
.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #FFD700;
	font-size:1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 1.1em;
	margin-bottom: 0;
	line-height: 1;


}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration:none;
}
.navbar-brand p {
	color: #000 ;
	text-transform:capitalize;
	font-size: .7em;
	margin-top: 10px;
	color: #FFD700;
}
.navbar-brand p span {
	vertical-align: middle;
}

.navbar-nav a {
	color: #FFD700;
	text-align: center;
	vertical-align:middle;
}
.navbar-nav a:hover {
	background-color: purple;

}
.navbar-nav a span {
	font-size: 1.3em 

}

#phone {
	margin-top: 9px;
}
#phone a {
	text-align: right;
	padding-bottom: 0;
}
#phone div {
	color: white;
	text-align: right;

}
.container .navbar button.navbar-toggler {
	clear :both;
}
/******************the main image******************/
#main-content {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right:  90px;
	padding-left:  90px;


}
.jumbotron {
	padding: 0px;
	
}
#mine {
	background-color: white;
}
/****************************************************/


/************larg devices***********/

@media (min-width: 1200px) 
{



}
/***********medium devices**********/
@media (min-width: 992px) and (max-width: 1199px)
 {
#logo-img {
	background: url('brand2.png');
	width: 100px;
	height: 100px;
	margin: -15px 10px 4px 0;
	
}
.navbar-brand h1{
	margin-top: 0em;


}
}
/***********small devices**********/
@media (min-width: 768px) and (max-width: 991px)
{

.navbar-brand h1{
	margin-top: 0em;

}


	
}
/***********extre small devices**********/
@media (min-width: 576px ) and (max-width: 767px) {
	
#header-nav {
	padding: 10px
	margin:50px;
}

	.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #FFD700;
  font-size:0.9em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0em;
  margin-bottom: 0;
  line-height: 1;

  }
  .navbar-nav a span {
  font-size: 0.9em 
}


#phone {
  margin-top: 0px;
  font-size: 1.7vw;
margin-top: 20px;
}
#phone a {
  text-align: center;
  padding-bottom: 0;
}
#phone div {
  color: white;
  text-align: center;
  font-size: 1.5vw;
}
.navbar-nav .nav-link{
 font-size: 2vw;
 margin-top: 20px; }

.smallpic {
  font-size: 7px;
}
.happy {
  font-size: 15px;
}
#main-content {
	padding-right: 30px;
	padding-left:  30px;
}


}

/***********extre  extra small devices**********/
@media (max-width: 575px) {
.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #FFD700;
	font-size:7vw;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0em;
	margin-bottom: 0;
	line-height: 1;
	float :left;

	}
.happy {
	font-size:4vw;
float :left;
 }
 .navbar-header {
 	margin-right: 0.2vw;

 	float :left;
 }
 .smallpic {
	font-size: 7px;
float :left;
margin-top: 4px;
margin-right: 4px;
}
 .navbar-toggler {
 	font-size:4vw;
 	float :right;
 }
a.nav-link span {
 	margin-right: 8px;
 }
 
#main-content {
	padding-right: 30px;
	padding-left:  30px;
}


}

/******************************/
#call-btn .btn {
	color: #FFD700;
	margin-right: 2px;
}
#call-btn a:hover{
	background-color: purple;
	text-decoration: none;
}

#xs-deliver{
	color: white;
}

