
body {
background-color: silver;
font-size:130%;
font-family:Arial, Helvetica, sans-serif;
background-image:url("6.jpg");
background-position: center;
box-sizing: border-box;
width: 1330px;

}

*{
box-sizing: border-box;
}

#float1
{
	width: 50%;
float: left;
padding:10px;
}
#float2{
	width: 50%;
	float: left;
	padding:10px;


}
#float3{
	width: 50%;
	padding:10px;
	float: left;
	clear :left;

}
#float4{
	width: 50%;
	padding:10px;
	float: left;

}
#back{
	clear:both;
}

h1 {
color: red;
font-size: 50px;
background-color: black;
padding:0.5px;
margin: 0.5px 0.5px 0.5px 350px ;
border:0.5px;
width:720px;
box-sizing: border-box;
text-align:center;
	
}

ul li {
list-style:none;

}


 a:link , a:visited {
text-decoration: none;
background-color: #FECC01;
color:black;
border:1px solid green;
text-align:center;

font-size: 18px;
text-transform: capitalize;
padding:5px;
margin-bottom: 5px;
clear:both;


}
a:hover , a:active {
background-color: red;
color:white;
}

 ul #one {
 background-color: #FECC01;
 color:black;
 border:1px solid green;
  display:block;
   width:1250px;
   text-align: center;
   margin-bottom:2px;
   font-size: 25px;

 }
 #backto {
 background-color: #FECC01;
 color:black;
 border:1px solid green;
  display:block;
   width:300px;
   text-align: center;
   margin-bottom:2px;
   font-size: 20px;
   clear:both;

 }
 a div:hover {
 background-color: red;
 color: white;

 }
 #two  {
background-color: #FECC01;
 color:black;
 border:1px solid green;
  display:block;
   width:300px;
   text-align: center;
   margin-bottom:2px;
   font-size: 20px;
   clear:both;
 }




 #three {
 	background-color: #FECC01;
 color:black;
 border:1px solid green;
  display:block;
   width:300px;
   text-align: center;
   margin-bottom:2px;
   font-size: 20px;
   clear:both;
 }



 /*ul li:nth-child(1):hover{
 	background-color: red ;
 	cursor: pointer;

 	 }
*/



.h2{
color:red;
text-align: center;

}


section p.paragraph1{

	background-color: #ABAB78;
	color: black;
	text-align: center;
	padding:1px;
	margin:1px;
	border: 0.5px;
	width:auto;

	

}


section p.paragraph2{

	background-color: #ABAB78;
	color: black;
	text-align: center;
	padding:1px;
	margin:1px;
	border: 0.5px;
	width:auto;

	

}

section p.paragraph3{

	background-color: #ABAB78;
	color: black;
	text-align: center;
	padding:1px;
	margin:1px;
	border: 0.5px;
	width:auto;
}


section p.paragraph4{

	background-color: #ABAB78;
	color: black;
	text-align: center;
	padding:1px;
	margin:1px;
	border: 0.5px;
	width:auto;
}


body section article.info{
	text-align: center;
	background-color: #ABAB78;
	color: black;
}

footer {
	clear:both;
}

body ul ol #front{
float: left;
width: 25%;
padding:10px;
}
body ul ol #back{
	float: left;
	width: 25%;
	clear:right;
	padding:10px;

	
}
body ul ol #web{
	float: left;
	width: 25%;
	padding:10px;
	

	
}
body ul ol #full{
	float: left;
	width: 25%;
	padding:10px;
	

}

