body {
    position: relative;
    overflow-x: hidden;



}


/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;

}

#wrapper.toggled {
    padding-left: 13.750em;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 13.750em;
    width: 0;
    height: 100%;
    margin-left: -13.750em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #1a1a1a;

    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 13.750em;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
    margin-top: -40px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
  padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 25px;
    display: inline-block;
    width: 100%;
}
/*the color before in the Sidebar*/
.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 5px;
    background-color: #1c1c1c;
    transition: width 0.2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;

}
.sidebar-nav li:nth-child(5n+1):before {
    background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(5n+2):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(5n+3):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(5n+4):before {
    background-color: #279636;
}
.sidebar-nav li:nth-child(5n+5):before {
    background-color: #7d5d81;
}
/****red****//*
.sidebar-nav li:nth-child(1):before {
    background-color:  #ff6666;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ff4d4d;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #ff3333;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #ff1a1a;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #ff0000;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #e60000;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #cc0000;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #b30000;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #990000;
}
/*****************/

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;

    text-decoration: none;
    padding: 10px 15px 10px 30px;
     color:white;


}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;

}
.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;

}
.sidebar-brand {
    height: 65px;
    position: relative;
    background:#212531;
    background: linear-gradient(to right bottom, #cc0300 50%, #cc0300 50%);
   padding-top: 1em;

}
.sidebar-brand a {
    color: white;

}
.sidebar-brand a:hover {
    color: black;
    text-decoration: none;
  text-shadow: 1px 1px 10px   white;
}
.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: white;
    background:#212531;
    background: linear-gradient(to right bottom, #cc0300 50%, #cc0300 50%);

}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: white;
    box-shadow: none;
 background-color: black;

}
.dropdown-menu.show {
    top: 0;

}
/*Fontawesome icons*/
.nav.sidebar-nav li a::before {
    font-family: fontawesome;
    content: "\f12e";
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;

}
a[href*="#home"]::before {
  content: "\f015" !important;

}
a[href*="#about"]::before {
  content: "\f129" !important;
}
a[href*="#events"]::before {
  content: "\f073" !important;
}
a[href*="#events"]::before {
  content: "\f073" !important;
}
a[href*="#team"]::before {
  content: "\f0c0" !important;
}
a[href*="#works"]::before {
  content: "\f0b1" !important;
}
a[href*="#pictures"]::before {
  content: "\f03e" !important;
}
a[href*="#videos"]::before {
  content: "\f03d" !important;
}
a[href*="#books"]::before {
  content: "\f02d" !important;
}
a[href*="#art"]::before {
  content: "\f1fc" !important;
}
a[href*="#awards"]::before {
  content: "\f02e" !important;
}
a[href*="#services"]::before {
  content: "\f013" !important;
}
a[href*="#contact"]::before {
  content: "\f086" !important;
}
a[href*="#followme"]::before {
  content: "\f099" !important;
  color: #0084b4;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: relative;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 20px;
  background: transparent;
  border: none;


}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;

}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;

}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;

}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;

}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: white;


}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: white;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}



/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

#page-content-wrapper{

position: absolute;
padding-top: 10px;
background-color:   #cc0300;

}

.Mylogo{
float: right;
width: 150px;
height: 150px;
margin-right: 50px;
margin-bottom: 10px;
}
a .Mylogo:hover{

background-color:  #e6c300;
background: linear-gradient(to right,  50%, gold 50%);
 background-size: 200% 100%;
 background-position: right bottom;
 transition: all 2s ease;
 -moz-border-radius-topleft: 10px;
 -moz-border-radius-topright: 10px;
 -moz-border-radius-bottomright: 0px;
 -moz-border-radius-bottomleft: 0px;
 -webkit-border-radius: 10px 10px 0px 0px;
 border-radius: 40px 40px 40px 40px;



}
.hamburger {
	margin-top: 40px;
}

.CompanyName{
	position: absolute;
	margin-top: 30px;
	margin-left: 100px;


}
.aCompanyName{
	text-decoration: none;
	text-transform: uppercase;
font-weight: bold;
font-size: 3.5vw;
text-shadow: 1px 1px 10px black;
color: black;
color:white;
}
.aCompanyName:hover{
	text-decoration: none;
	color: gold;
  text-shadow: 1px 1px 5px black;

}
.hide {
	display: none;
width: 0;

}
.figbrand{
	position: absolute;
	margin-top: 85px;
	margin-left: 110px;
	font-weight: bold;
  text-shadow: 1px 1px 10px black;
  font-size: 2vw;
  color:white;

}


.figbrand::after{
content: "\f4fc" !important;
font-size: 1.5vw;
margin-left: 0px;
margin-top: -5px;

}
#mainPageContent{
margin-top: 96.59px;

  width: 100%;



}


/******************mainContent start******************/

.myMainImg{
/* height: 700px; */
width: 100%;
padding: 0;
margin-left: 15px;
margin-right: auto;
display: block;

}
.ourServices{
text-align: center;
color: #394d55;
font-weight: 600;
    clear: both;
    font-size: 2.592rem;
    letter-spacing: normal;
    line-height: 1.125;
    margin-top: 50px;
    margin-bottom:  30px;
    font-style: bold;
    text-transform: capitalize;
}
.ourServices::selection{
  background-color: gold;
}
/******************************************/
.firstservice{
  text-align: center;
  margin-top: 170px;
}
.firstservice::selection{
  background-color: gold;
}
.firstservicedescription{
  text-align: center;
  font-size: 2rem;
  margin: 50px 10px 5px 10px;
}
.firstservicedescription::selection{
  background-color: gold;
}
.firstserviceimg{
  margin-top: 30px;

  width:  37.500em;
 border-radius: 30%;
}
/******************************************/

.secondeservice{
  text-align: center;
  margin-top: 80px;
}
.secondeservice::selection{
  background-color: gold;
}
.secondeservicedescription{
  text-align: center;
  font-size: 2rem;
  margin: 50px 10px 5px 10px;
}
.secondeservicedescription::selection{
  background-color: gold;
}
.secondeserviceimg{
  margin-top: 30px;
margin-left: 20px;
  width:  37.500em;
 border-radius: 30%;
}
/******************************************/
.thiredservice{
  text-align: center;
  margin-top: 80px;
}
.thiredservice::selection{
  background-color: gold;
}
.thiredservicedescription{
  text-align: center;
  font-size: 2rem;
  margin: 50px 10px 5px 10px;
}
.thiredservicedescription::selection{
  background-color: gold;
}
.thiredserviceimg{
  margin-top: 30px;
 border-radius: 30%;
    width:  37.500em;

}
.row{
  margin-bottom: 100px;
}
/******************************************/
.awantbutton{
  text-align: center;
text-decoration: none;
  border-radius: 50%;
}
.buttonwant{

  text-align: center;
  background-color: #cc0300;
  border-radius: 50px;;
  color: white;
  width: 200px;
  height: 50px;
  font-weight: 600;
  font-size: 1.4em;
  text-decoration: none;
  border :0.5px solid black;
  padding: 0;

}
.buttonwant:hover{
  background: white;
  color: #cc0300;
  transition-duration: 0.8s;

}
button:focus{

}
.center{
  text-align: center;
}
#line1{
  background-color: black;
margin-left: 30px;
margin-right: auto;
  height: 1px;

}
/****************mainContent end*********************/

/**********footer***********************/

#wrapper-footer {
    padding-left: 0;


}

#wrapper-footer.toggled {
    padding-left: 13.750em;
}

#wrapper-footer.toggled .page-footer {
  margin-left: -220px;
  position: absolute;

}



.page-footer{
  box-sizing: border-box;
  background-color: #cc0300;
  padding: 40px;
  width: 100%;
  position: absolute;

}
.row{
  width: 100%;
}

.About-section{
  color: white;
  line-height: 2;
  	font-size: 1.1em;
text-align: center;
}
#About {
  color: white;
  line-height: 2;
text-transform: capitalize;
	font-size: 1.5em;
text-align: center;

}

.contact-section{
  color: white;
  line-height: 2;
  	font-size: 1.1em;
    text-align: center;
    font-style: italic;
}
#contact{
color: white;
line-height: 2;
text-transform: capitalize;
	font-size: 1.5em;
}


#a-address{
  color: white;
  text-decoration: none;

}
#a-address:hover{
  color: gold;

}
#phone{
  text-decoration: none;
  color: white;

}
#phone:hover{
  text-decoration: none;
  color: gold;
}
.Email{
  text-decoration: none;
  color: white;

}
.Email:hover{
text-decoration: none;
color: gold;
}

.Hours-section{
  color: white;
  line-height: 2;
  		font-size: 1.1em;
      text-align: center;
}
#Hours{
  color: white;
  text-transform: capitalize;
  line-height: 2;
  	font-size: 1.5em;
}

#line{
  color: gold;
  background-color: gold;

}
.footer-copyright {
  text-align: center;
  color: gold;
  font-style: oblique;
  font-weight: bold;
}


/**************footer end********************/
/******************************welcome page**************************/




/*************************************end welcome page****************************/

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap*/


/*extra small*/
@media (min-width: 151px)   and (max-width: 397px){

	#page-content-wrapper{

	position: absolute;
	padding-top: 120px;

	}
.CompanyName{
	 position: absolute;
	margin-top: -80px ;
	margin-left: 100px;



}
.aCompanyName{

font-size: 6vw;
}
.figbrand{
	position: absolute;
	margin-top: -50px ;
	margin-left: 110px;
	font-size: 3vw;
}
.hamburger{
margin-top: 20px;

}
.ourServices{
  margin-top: 0px;
}
.firstserviceimg{width:100%;
margin-left: 15px;}
  .secondeserviceimg{width: 100%;
  margin-left: 15px;}
    .thiredserviceimg{width:100%;
    margin-left: 15px;}


.firstservice{ font-size:1.6rem;
margin-left: 35px;
margin-top: 70px;}
.firstservicedescription{font-size:1.2rem;
margin-left: 40px;
}
.secondeservice{font-size:1.6rem;
margin-left: 35px;
margin-top: 20px;}
.secondeservicedescription{font-size:1.2rem;
margin-left: 40px;
margin-top: 20px;}
.thiredservice{font-size:1.6rem;
margin-left: 35px;
margin-top: 20px;}
.thiredservicedescription{font-size:1.2rem;
margin-left: 40px;
margin-top: 20px;}


.buttonwant{
  margin-left: 20px;
  margin-top: 10px;
}

}




/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 398px) and (max-width: 575px) {

	#page-content-wrapper{

	position: absolute;
	padding-top: 120px;

	}
.CompanyName{
   position: absolute;
	margin-top: -80px ;
	margin-left: 100px;


}
.aCompanyName{

font-size: 5vw;
}
.figbrand{
	position: absolute;
	margin-top: -50px ;
	margin-left: 110px;
	font-size: 3vw;

}
.hamburger{
margin-top: 20px;

}
.ourServices{
  margin-top: 0px;
}
.firstserviceimg{width:100%;
margin-left: 15px;}
  .secondeserviceimg{width: 100%;
  margin-left: 15px;}
    .thiredserviceimg{width:100%;
    margin-left: 15px;}


.firstservice{ font-size:1.6rem;
margin-left: 30px;
margin-top: 70px;}
.firstservicedescription{font-size:1.2rem;
margin-left: 30px;}
.secondeservice{font-size:1.6rem;
margin-left: 35px;
margin-top: 30px;}
.secondeservicedescription{font-size:1.2rem;
margin-left: 40px;
margin-top: 30px;}
.thiredservice{font-size:1.6rem;
margin-left: 30px;
margin-top: 30px;}
.thiredservicedescription{font-size:1.2rem;
margin-left: 40px;
margin-top: 30px;}

.buttonwant{
  margin-left: 20px;
  margin-top: 10px;
}

 }

@media (min-width: 576px ) and (max-width: 612px){

  .aCompanyName{

  font-size: 4vw;
  }
  .CompanyName{
     position: absolute;
    margin-top: 45px ;
    margin-left: 100px;



  }
  .firstserviceimg{width:100%;
  margin-top: 55px;}
    .secondeserviceimg{width:100%;
    margin-top: 70px;}
      .thiredserviceimg{width:100%;
      margin-top:50px; }


  .firstservice{ font-size:1.6rem;
  margin-top: 90px;}
  .firstservicedescription{font-size:1.1rem;
  margin-top: 20px;}
  .secondeservice{font-size:1.6rem;
  margin-top: 30px;}
  .secondeservicedescription{font-size:1.1rem;
  margin-top: 20px;}
  .thiredservice{font-size:1.6rem;
  margin-top: 30px;}
  .thiredservicedescription{font-size:1.1rem;
  margin-top: 20px;}
  .buttonwant{
    width: 130px;
    height: 45px;;
  }

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 612px ) and (max-width: 767px) {
	.aCompanyName{

	font-size: 4vw;
	}
	.CompanyName{
		 position: absolute;
		margin-top: 45px ;
		margin-left: 100px;



	}
  .firstserviceimg{width:100%;
  margin-top: 55px;}
    .secondeserviceimg{width:100%;
    margin-top: 40px;}
      .thiredserviceimg{width:100%;
      margin-top:50px; }


  .firstservice{ font-size:1.7rem;
  margin-top: 90px;}
  .firstservicedescription{font-size:1.1rem;
  margin-top: 20px;}
  .secondeservice{font-size:1.7rem;
  margin-top: 30px;}
  .secondeservicedescription{font-size:1.1rem;
    margin-top: 20px;}
  .thiredservice{font-size:1.7rem;
  margin-top: 30px;}
  .thiredservicedescription{font-size:1.1rem;
    margin-top: 20px;}

.buttonwant{
  width: 150px;
  height: 50px;;
}


}
@media (min-width: 767px) and (max-width: 800px) {

  .CompanyName{
		 position: absolute;
		margin-top: 40px ;
		margin-left: 100px;
		}

    .firstserviceimg{width:100%;
    margin-top: 55px;}
      .secondeserviceimg{width:100%;
      margin-top: 90px;}
        .thiredserviceimg{width:100%;
        margin-top:50px; }


    .firstservice{ font-size:2rem;
    margin-top: 110px;}
    .firstservicedescription{font-size:1.5rem;}
    .secondeservice{font-size:2rem;
    margin-top: 40px;}
    .secondeservicedescription{font-size:1.45rem;}
    .thiredservice{font-size:2rem;
    margin-top: 50px;}
    .thiredservicedescription{font-size:1.5rem;}



    }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 800px) and (max-width: 991px) {
	.CompanyName{
		 position: absolute;
		margin-top: 40px ;
		margin-left: 100px;
		}

    .firstserviceimg{width:100%;
    margin-top: 55px;}
      .secondeserviceimg{width:100%;
      margin-top: 60px;}
        .thiredserviceimg{width:100%;
        margin-top:50px; }

.firstservice{ font-size:2rem;
margin-top: 110px;
}
.firstservicedescription{font-size:1.5rem;}
.secondeservice{font-size:2rem;
margin-top:40px;}
.secondeservicedescription{font-size:1.5rem;}
.thiredservice{font-size:2rem;
margin-top:50px;}
  .thiredservicedescription{font-size:1.5rem;}
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

	.CompanyName{
		 position: absolute;
		margin-top: 42px ;
		margin-left: 100px;
		}

    .firstserviceimg{width:30em; }
    .secondeserviceimg{width: 30em;}
    .thiredserviceimg{width:30em; }

      .firstservice{ font-size:2rem;}
      .firstservicedescription{font-size:1.5rem;}
      .secondeservice{font-size:2rem;
margin-top:   50px;     }
        .secondeservicedescription{font-size:1.5rem;}
        .thiredservice{font-size:2rem;
  margin-top:  50px;    }
          .thiredservicedescription{font-size:1.5rem;}


	 }
@media (min-width: 1200px) {


}
